body {
    padding-top: 75px;
}

/* ----- homepage(about)--*/
.about {
    padding-top: 10rem;
}

.img-rows {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

hr {
    border-top: 5px solid #FF8C00;
    width: 50%;
    margin-left: 25%;

}