body {
    padding-top: 75px;
}

.contact-button {
    padding: 0;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

/* ----- homepage(about-us, services, find-us)--*/
.about {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.img-rows {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

.services-text {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

hr {
    border-top: 5px solid #FF8C00;
    width: 50%;
    margin-left: 25%;

}

.find {

    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}